.card-drawing.detail {
    margin: 0px auto;
    max-width: 50rem;
    overflow: visible;
    border: none;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 50px;
}

.card-drawing:hover {
    transform: none;
}

.card-img-top.detail {
    object-fit: contain;
    border-bottom: none;
}

.card-title.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;


}

.card-title.container .deatil-link.category {
    cursor: pointer;
    border: 1px solid #196d92;
    border-radius: 25px;
    padding: 10px 30px;
    box-shadow: 11px 9px 5px -3px rgba(28, 153, 202, 0.59);
    background-color: rgb(252, 240, 224);
    margin: 10px;
}

.card-title.container .deatil-link.category:hover {
    transform: scale(1.2);
}

.card-text {
    font-size: 30px;
}

.card-text.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.container::after {
    content: unset;
}

/* Comment container */

.comments-container {
    padding: 30px;
    border: 3px solid rgb(25, 109, 146);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    max-height: 350px;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-color: rgb(252, 240, 224) #196d92;
    scrollbar-width: thin;
    background-color: rgba(252, 240, 224, 0.26);
}

.item {
    font-size: 25px;
    margin: 0px 20px;
}

.comment-area {
    background-color:  rgba(252, 240, 224, 0.26);;
    border-radius: 25px;
    padding: 10px 15px;
}

.write-comment-container {

    text-align: center;
    margin: 40px;
}

.comment-btn {

    border: 1px solid #196d92;
    border-radius: 25px;
    padding: 10px 30px;
    box-shadow: 11px 9px 5px -3px rgba(28, 153, 202, 0.59);
    background-color: rgb(252, 240, 224);
    margin: 10px;
    color: rgb(4, 6, 7);

}

.comment-btn:hover {
    transform: scale(1.2);
}

.form-comment {
    background-color: transparent;
    overflow: visible;

}