.card-deck-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 70px;
    padding: 30px;
}

.tm-site-title.gallery {
    text-align: center;
    margin-top: 7rem;
}

.contest {
    color: #fffeff;
    text-shadow: 0px 2px 2px rgb(146, 109, 46);
    font-family: 'Times New Roman', Georgia, sans-serif;
    font-size: 3.0rem;
    margin: 0px 300px;
    text-align: center;
}

