
.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding: 30px;
}
.card-drawing{
    max-width: 30%;
}
.card-img-top{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.tm-site-title.gallery{
    text-align: center;
}