.tm-header-container {
	position: relative;
	padding-bottom: 6rem;
	margin-bottom: 4%;
}

.user-email{

    font-size: 2rem;
    margin-bottom: 20px;
    font-style: italic;
}
.nav-item{
    border: 1px solid rgb(25, 109, 146);
    border-radius: 12px;
}
